.produto_container{
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

.produto_card_container{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.produto_container h1{
    text-align: center;
}

.carrinho{
    width: 4%;
    margin-left: 1%;
}