.produto_container {
    width: 100%;
    max-width: 1200px;
    padding: 16px;
}

.produto_container h1 {
    text-align: start;
    font-size: 25px;
    font-Weight: 700; 
    font-family: 'caveat', cursive;
}

.produto_card_container {
    display: flex;
    flex-direction: row;
}

.produto_card_detalhe {
    background-color: #f9ea8f;
    background-image: linear-gradient(315deg, #f9ea8f 0%, #aff1da 74%); 
    border-radius: 14px;
}

.produto_card--actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produto_card_button {
    border-radius: 14px;
    transition: color 0.4s, transform 0.3s;
}

.produto_card_button:hover {
    transform: scale(1.1);
    color: aqua;
}