.produto_edit{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

.produto_container h1 {
    text-align: start;
    font-size: 30px;
    font-Weight: 700; 
    font-family: 'caveat', cursive;
}

.produto_campo{
    display: grid;    
    grid-template-columns: 20% 0.6fr;
}
.produto_label{
    font-size: 14px;
    font-weight: 600;
}

.produto_input:focus {
    background-color: yellow;
}

.editar--botao{
    width: 80%;
    border-radius: 14px;
    transition: color 0.4s, transform 0.3s;
}

.editar--botao:hover{
    transform: scale(1.1);
    color: aqua;
}