.produto_container{
    padding: 16px;
}

.produto_container h1 {
    text-align: start;
    font-size: 25px;
    font-Weight: 700; 
    font-family: 'caveat', cursive;
}

.produto_input:focus {
    background-color: yellow;
}

.produto_submit{
    display: grid;
    justify-content: start;    
    font-size: 14px;
    font-weight: 600;
}

.adicionar--botao{
    width: 170%;
    border-radius: 14px;
    transition: transform 0.3s;
}

.adicionar--botao:hover{
    transform: scale(1.1);
}